@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.finn-message-container{
  background: linear-gradient(to bottom right, #c7bfed 0%, #eae6fc 50%,#edc4c4 90%);
  font-weight: 500;
}


.right-footer {
  background: linear-gradient(to top right, #b2abd9 0%, #ffffff 50%);
  font-weight: 400;
}